<%= form_tag login_path, {:class => 'form-signin'} do %>
  <h2 class="form-signin-heading">Login</h2>
  <% if flash[:alert] %>
    <div class="alert alert-success">
      <%= flash[:alert] %>
    </div>
  <% end %>
  <% if notice %>
    <div class="alert alert-danger">
      <%= notice %>
    </div>
  <% end %>
  <%= text_field_tag :username, params[:username], class: 'form-control', placeholder: 'Username' %>
  <%= password_field_tag :password, params[:password], class: 'form-control', placeholder: 'Password' %>
  <%= submit_tag 'Login', class: 'btn btn-lg btn-primary btn-block' %>
<% end %>