<%= form_for(@user, html: { class: "half-width" }) do |f| %>
  <%= render partial: "shared/notice" %>
  <%= render partial: "shared/error_messages", locals: { model: @user } %>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control"%>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :surname %>
    <%= f.text_field :surname, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :firstname %>
    <%= f.text_field :firstname, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :admin %>
    <%= f.check_box :admin %>
  </div>
  <div class="left">
    <%= link_to "Back", :back, class: "btn btn-default left" %>
  </div>
  <div class="right">
    <%= f.submit "Save", class: "btn btn-primary white right"%>
  </div>
  <div class="clearer"></div>
<% end %>