<h2>Listing users</h2>
<%= render partial: "shared/notice" %>
<div class="table-responsive">
  <table class="records table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Name</th>
        <th>E-mail</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.username %></td>
          <td><%= user.full_name %></td>
          <td><%= user.email %></td>
          <td><%= link_to 'Edit', edit_user_path(user), class: "btn btn-primary btn-xs white" %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-xs white" if user.destroyable? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<%= link_to 'Create user', new_user_path, class: "btn btn-primary white" %>
